/* Common styles for all resolutions */
.featured-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow articles to wrap to a new line on smaller screens */
}

.article {
  width: 300px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.article img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.article h2 {
  font-size: 20px;
  margin: 10px;
}

.article p {
  font-size: 14px;
  color: #555;
  margin: 10px;
}

.article .read-more {
  display: inline-block;
  padding: 8px 20px;
  background-color: #e6492d;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.article .read-more:hover {
  background-color: #c12e1a;
}
@media screen and (max-width: 1024px) 
 {
  .article {
    width: 100%;
    max-width: 768px; 
  }
}

@media screen and (max-width: 768px) {
  .article {
    width: 100%;
    max-width: 768px; 
  }
}


/* Headlines styles */
.headlines-text {
  text-align: center;
  margin-top: 35px;
  font-size: 48px;
  color: red;
  font-family: "helvetica";
  font-weight: 100;
}

.headlines-info {
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.headlines {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.headlines .container {
  width: 300px;
  margin: 20px;
  background-color: white;
  box-shadow: 5px 10px 25px rgba(0, 0, 0,.1);
  text-align: center;
  width: 25%;
  margin: 10px;
  color: black;
  padding: 20px;
  text-align: center;
}

.headlines .second-img {
  width: 30%;
}

.headlines .container img {
  width: 100%;
}

.headlines .second-img img {
  z-index: -1;
}

.headlines .container .contain-text {
  margin: 20px;
  font-family: "helvetica";
}

.headlines .container .contain-text h3 {
  font-size: 25px;
  color: red;
  padding-bottom: 10px;
}

.headlines .container .contain-text h3{
  border-bottom: 1px solid red;
}

.headlines .container .contain-text h6 {
  font-weight: 400;
  margin-top: 15px;
  color: black;

  font-size: 15px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .headlines-info {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .headlines {
    flex-direction: column;
    align-items: center;
  }
  
  .headlines .container {
    width: 100%;
  }
  
  .headlines .second-img {
    width: 100%;
    max-width: 100%;
  }
  
  /* Adjust the font size and margin for the headlines-text on phone screen */
  .headlines-text {
    font-size: 44px;
    margin-top: 20px;
    opacity: 1;
  }
}


/* About Us styles */
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.about-us .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 20px;
}

.about-us .container .img-container {
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.about-us .container .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us .container .text-container {
  width: 50%;
  padding: 20px;
  background-color: #faf7e9;
}

.about-us .container .text-container h1 {
  font-size: 48px;
  color: red;
  font-family: "helvetica";
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.about-us .container .text-container p {
  font-size: 18px;
  text-align: center;
}

/* Responsive styles for laptop screen size (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .about-us .container {
    flex-direction: column;
    align-items: center;
  }

  .about-us .container .img-container,
  .about-us .container .text-container {
    width: 100%;
  }

  .about-us .container .text-container h1{
    opacity: 1;
  }
}

/* Responsive styles for tablet screen size (max-width: 768px) */
@media screen and (max-width: 768px) {
  .about-us .container {
    flex-direction: column;
    align-items: center;
  }

  .about-us .container .img-container,
  .about-us .container .text-container {
    width: 100%;
  }

  .about-us .container .text-container h1{
    opacity: 1;
  }
}

/* Responsive styles for phone screen size (max-width: 480px) */
@media screen and (max-width: 480px) {
  .about-us .container .img-container {
    width: 100%;
    height: 200px;
  }

  .about-us .container .text-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
    opacity: 1;
  }

  .about-us .container .text-container p {
    font-size: 16px;
  }
}

  
  .subscribe {
    padding: 100px;
    justify-content: center;
    align-items: center;
  }
  
  .subscribe h1 {
    font-family: "helvatica";
    font-weight: 200;
    font-size: 36px;
    text-align: center;
  }
  
  .subscribe .input-btn {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }
  
  .subscribe .input-btn .fas{
    position: relative;
    left: 40px;
    font-size: 20px;
  }
  
  .subscribe .input-btn .fas:hover{
    color: black;
    cursor: text;
  }
   
  
  .subscribe .input-btn input {
    padding: 20px 80px;
    padding-left: 50px; 
    border: 2px solid red;
    border-radius: 0px;
    
  }
  
  
    /* .subscribe .input-btn .btn {
      padding: 20px 40px;
      border: 2px solid red;
      background-color: red;
      color: white;
      border-radius: 0px;
      
    } */
  
  
    .subscribe .input-btn .btn {
      padding: 27px 55.5px;
      border: 2px solid red;
      background-color: red;
      color: white;
      border-radius: 0px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }
    
    .subscribe .input-btn .btn:active {
      transform: scale(0.9);
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    
      
      
    
    .subscribe .input-btn .btn .text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-100%);
      background-color: red;
      color: white;
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
    }
    
    .subscribe .input-btn .btn .text-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-100%);
      background-color: red;
      color: white;
      transition: transform 0.3s ease, opacity 0.3s ease, letter-spacing 0.3s ease;
      opacity: 0;
      visibility: hidden;
      font-weight: 600;
      letter-spacing: -1px;
    }
    
    .subscribe .input-btn .btn:hover .text-hover {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      letter-spacing: 0px;
    }
    
    .subscribe .input-btn .btn:hover .text {
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
    }
    
    .subscribe .input-btn .btn:not(:hover) .text-hover {
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;
    }
    
    .subscribe .input-btn .btn:not(:hover) .text {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
    
    
  
    
    
    
    
  
  
  
  
  
  /* .subscribe .input-btn .btn:hover {
    cursor: pointer;
    border-color: darkred;
    background-color: darkred;
    color: white;
    font-weight: 600;
  } */
  
  /* .subscribe .input-btn .btn {
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  
  .subscribe .input-btn .btn:hover {
    cursor: pointer;
    border-color: darkred;
    background-color: red;
    color: white;
    transform: scale(1.1);
    font-weight: 600;
  } */
  
  /* .subscribe .input-btn .btn {
    position: relative;
    overflow: hidden;
  }
  
  .subscribe .input-btn .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 100, 100);
    transform: skewX(-45deg);
    transition: left 0.3s ease;
  }
  
  .subscribe .input-btn .btn:hover:before {
    left: 100%; 
  }
  
  
  .subscribe .input-btn .btn:hover{
    cursor: pointer;
  } */
  
  
  
  
  
  
  
  
  
  
  footer p {
    position: relative;
    bottom: 0;
    text-align: center;
  }
  
  
  
  
  
  
  
  
  
  
    
  
    .img{
        float: right;
        width: 500px;
        border-radius: 0px;
        padding: 1em;
    }
  
    .famous{
        padding: 1em;
        color: red;
        text-align: center;
        font-size: 38px
    }
  
    .name{
        background-color:rgb(253, 3, 3);
        color: white;
        text-align: center;
        padding: 15px;
    }
  
    p{
        text-align: justify;
        margin: 25px;
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif;
        color: black ;
  
    }
  
    .img2{
        float: left;
        width: 700px;
        border-radius: 0px;
        padding: 1em;
    }
  
    .img3{
        float: right;
        width: 500px;
        border-radius: 0px;
        padding: 1em;
    }